name: Deployment workflow
on:
  push:
    branches: [main]

jobs:
  checkout:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Set Up ENV
        run: |
          echo "${{ secrets.SQL_URI }}" >> .env
          echo "${{ secrets.SPLITWISE_API_KEY }}" >> .env
          echo "${{ secrets.SPLITWISE_API_URL }}" >> .env
          echo "${{ secrets.DISCORD_CLIENT_ID }}" >> .env
          echo "${{ secrets.DISCORD_CLIENT_SECRET }}" >> .env
          echo "${{ secrets.DISCORD_REDIRECT_URI }}" >> .env

  deploy:
    runs-on: self-hosted
    needs: [checkout]
    steps:
      - name: Docker
        run: |
          sudo docker-compose down
          sudo docker-compose up --build -d
          sudo docker system prune -a
